[submodule "CogModel/CCM-site"]
	path = CogModel/CCM-site
	url = https://github.com/brendenlake/CCM-site.git
[submodule "RL/reinforcement-learning-an-introduction"]
	path = RL/reinforcement-learning-an-introduction
	url = https://github.com/ShangtongZhang/reinforcement-learning-an-introduction.git
[submodule "SN/Applied-Social-Network-Analysis-in-Python"]
	path = SN/Applied-Social-Network-Analysis-in-Python
	url = https://github.com/rahulpatraiitkgp/Applied-Social-Network-Analysis-in-Python.git
[submodule "UnityVRAR/VR2019"]
	path = UnityVRAR/VR2019
	url = https://github.com/IndieGameMaker/VR2019.git
